<div class="jumbotron">
<div class="container">
  <h1 id="Titulo1">Pagina Ejemplo de Pinterest</h1>

<h2 class="titulos"> Primer Ejemplo de sitio WEB con rails</h2>
<h2 class="titulos"> Unidad Tematica I </h2>
<h3>Eduardo Gonzalez Hernandez</h3>

<a href="http://en1mes.com" target="_blank" class="btn btn-default" > En1
	<span class="glyphicon glyphicon-ok-circle" style="font-size: 20px; color:green"> </span>
	</a>
</div>
</div>
<div class="container">
<div class="row">
	<div class=col-md-4>
	<div class="page-header">
  <h2>Primera Seccion del Sitio <small>
  <span class="label label-default">Nuevo Articulo</span>
  </div>
	<p>uso de division de contenido por columnas</p>
		<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)</p>
	</div>
		
		<div class="col-md-4">
			
			<div class="page-header">
			<h2 style="display: inline"> Ejemplo II</h2>
			<span class="label label-default">Nuevo Articulo</span>
			</div>

		<img src="http://www.en1mes.com/assets/logo-79cc18afeb892865eb97c6b6641f7dc5.png" style="width:200px">
		<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)</p>
		</div>
	<div class="col-md-4">
		<div class="page-header">
			<h2> Ejemplo de Encabezado 3</h2>
			</div>

		<a href="http://www.kojimaproductions.jp/index.html" target="_blank">
		<img src="https://yt3.ggpht.com/-fZU88cSgngs/AAAAAAAAAAI/AAAAAAAAAAA/4sWKktf0ruk/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" style="width:200px" class="img-responsive">
		</a>
<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)</p>
		<p> lorem ipsum </p>
		<p> lorem ipsum </p>
	</div>
	
</div>
</div>